{if $file != 'sell' || ($file == 'sell' && $itemid)}
<div class="side_head"><div><strong>{$SIDE}</strong></div></div>
<div class="side_body">
<!--{tag("table=type&condition=item='product-".$userid."'&pagesize=".$side_num[$HS]."&order=listorder desc&template=null", -2)}-->
<ul>
{if $_tags}
<li id="type_0"><a href="{userurl($username, 'file=sell', $domain)}">全部分类</a></li>
{loop $_tags $v}
<li id="type_{$v[typeid]}"><a href="{userurl($username, 'file=sell&typeid='.$v['typeid'], $domain)}" title="{$v[typename]}">{set_style($v[typename], $v[style])}</a></li>
{/loop}
{else}
<li>暂无分类</li>
{/if}
</ul>
</div>
{/if}