{template 'header'}
<div class="m">
<div class="m_l f_l">
	<div class="left_box">
		<div class="pos">当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($catid, ' &raquo; ')}</div>
		{if $childcat}
			<div class="childlist">		<!--{tag("moduleid=$moduleid&table=article_$moduleid&condition=status=3&order=".$MOD[order]."&catid=$catid&child=0&pagesize=6&datetype=5")}-->
			</div>
			{loop $childcat $i $c}
			<div class="left_head"><span class="f_r"><a href="{$MOD[linkurl]}{$c[linkurl]}">更多..</a>&nbsp;&nbsp;</span>&raquo; {$c[catname]}</div>
			<div class="childlist"><!--{tag("moduleid=$moduleid&table=article_$moduleid&condition=status=3&order=".$MOD[order]."&catid=".$c[catid]."&pagesize=6&datetype=5")}--></div>
			{/loop}
		{else}
			<div class="catlist"><!--{tag("moduleid=$moduleid&table=article_$moduleid&condition=status=3&order=".$MOD[order]."&catid=$catid&child=0&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&datetype=5&template=list-cat&cols=5")}--></div>
		{/if}
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r f_l">
	<div class="box_head_1"><div><strong>推荐图文</strong></div></div>
	<div class="box_body thumb"><!--{tag("moduleid=$moduleid&table=article_$moduleid&length=20&condition=status=3 and level=3 and thumb!=''&catid=$catid&pagesize=4&order=".$MOD[order]."&width=120&height=90&cols=2&template=thumb-table")}--></div>
	<div class="b10 c_b"> </div>
	<div class="box_head_1"><div><strong>推荐{$MOD[name]}</strong></div></div>
	<div class="box_body li_dot"><!--{tag("moduleid=$moduleid&table=article_$moduleid&condition=status=3 and level=1&catid=$catid&order=".$MOD[order]."&pagesize=10")}-->
	</div>
	<div class="b10 c_b"> </div>
	<div class="box_head_1"><div><strong>点击排行</strong></div></div>
	<div class="box_body">
	<div class="rank_list"><!--{tag("moduleid=$moduleid&table=article_$moduleid&condition=status=3 and addtime>$today_endtime-30*86400&catid=$catid&order=hits desc&pagesize=10", -2)}--></div>
	</div>
</div>
</div>
{template 'footer'}